@model IEnumerable<OnlineTutorsEntities.usp_tblPageContentGet_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container-fluid">
<div class="row" style="margin-top:50px;">
    <h2>Page Content List</h2>
</div>
    <div class="row">
        <div class="col-md-2">
            <p class="btn btn-success" style="color:white!important;font-weight:bold;margin-bottom:20px;">
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 ">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keywords)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KeywordDesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pageh1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pagecontent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.displayorder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Keywords)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeywordDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pageh1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pagecontent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.displayorder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID  }) |
                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>